* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: antiquewhite;
}

.waraper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    width: 100%;
}

.app {
    width: 375px;
    max-width: 100%;
    height: 812px;
    background-color: white;
}

.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.header_menu_tab,
.header_add_song {
    width: 20%;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding-top: 10px;
    color: rgb(227, 91, 114);
    cursor: pointer;

}

.fa-angle-left {
    transform: rotate(-90deg);
}

#nowplaying {
    font-size: 13px;
    color: rgb(227, 91, 114);
}

.header_name_song {
    width: 60%;
    height: 100%;
    font-size: 20px;
    text-wrap: wrap;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.image_song {
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

@keyframes songplay {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.image_song>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(227, 91, 114);
    /* animation: songplay 10s linear infinite forwards; */
}
#time_line,.control_song{
    z-index: 2;
}
.slive{
    width: 60%;
    height: 8px;
    margin-top: 10px;
    position: relative;
}
/*css cho input range*/
#time_line{
    -webkit-appearance: none;
    border-radius: 10px;
    width: 100%;
    height: 8px;
    border: 1px solid rgb(227, 91, 114);
    background-color: rgb(235, 231, 231);
    background-color: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 99;

}
progress{
    -webkit-appearance: none;
    border-radius: 10px;
    height: 8px;
    border: 1px solid rgb(227, 91, 114);
    background-color: rgb(235, 231, 231);
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
progress::-webkit-progress-bar{
    background-color: rgb(235, 231, 231);
}
progress::-webkit-progress-value{
    background-color:  rgb(227, 91, 114);
}
/*css cho con trá» range*/
#time_line::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 8px;
    width: 10px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(227, 91, 114);
}
#time_line::-webkit-slider-thumb:hover{
    padding: 8px;
    border-radius: 50%;
    border: 2px solid rgb(227, 91, 114);
    background-color: white;

}
/*control song*/
.control_song {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.reload,
.backward,
.pause,
.next,
.random {
    width: 50px;
    color: rgb(133, 139, 149);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fa-pause{
   
    display: block;
    width: 100%;
    height: 100%;
   
    padding: 12px;
    border-radius: 50%;
}
.fa-play{
    
    display: block;
    width: 100%;
    height: 100%;
   
    padding: 12px;
    border-radius: 50%;

}
.active{
    color: rgb(227, 91, 114);
}
.pause {
    text-align: center;
    border-radius: 50%;
    font-size: 35px;
    color: white;
    background-color: rgb(227, 91, 114);
}

.pause_play {
    padding-left: 5px;
    font-size: 30px;
}

.next {
    transform: rotate(180deg);
}

.close {
    display: none;
    visibility: hidden;
}
::-webkit-scrollbar{
display: none;
}
.time_song{
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(133, 139, 149);

}
#timeplaying,#timesong{
    display: block;
    height: 16px;
    width: 35px;
    text-align: center;
}
/* .time_song span{
    padding-top: 6px;
    padding-left: 1px;
    padding-right: 1px;
} */
/*list song*/
.list_song {
    margin-top: 5px;
    list-style: none;
    height: 415px;
    overflow-y: auto;
    background-color: rgb(235, 231, 231);
}
.list_song_item:first-child{
    margin-top: 10px;
}
.list_song_item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    width: 95%;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 9px;
    background-color: white;
}

.list_song_item--image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 20px;
}

.list_song_item--image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.list_song_item--info {
    width: 230px;
}

#name_song {
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#author {
    font-size: 10px;
    font-weight: 500;
    color: rgb(133, 139, 149);
}
.list_song_item{
    cursor: pointer;
}
.list_song_item:hover{
    border: 2px solid pink;
}

.list_song_item--multi {
    margin: 0px 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(133, 139, 149);
}

.fa-ellipsis-vertical {
    transform: rotate(90deg);
}
/*navi bar*/
.navi_bar{
    height: 40px;
    background-color: rgb(30, 25, 28);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bar_home,.bar_music,.bar_play,.bar_search,.bar_menu{
    font-size: 20px;
    color: whitesmoke;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.bar_play{
    font-size: 30px;
    color: rgb(227, 91, 114);
}